<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean for IPLTeamService -->
    <bean id="iplTeamService" class="com.example.demo.IPLTeamService">
        <property name="iplTeams">
            <map/>
        </property>
    </bean>

</beans>
